body{
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 15px;
    color: #737373;
    line-height: 26px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #632c4f;
    overflow-x: hidden;
}

header{
    background-color: #632c4ff6;
    height: 88px;
    padding: 21px;
    width: 100vw;
    box-sizing: border-box;
    position:sticky;
    top: 0;
    z-index: 9999;
}


.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



nav{
    color: #fff;
    width: 850px;
    /* padding: 15px; */
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 0;
    font-style: bold;
    cursor: pointer;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #632c4f;
    z-index: 1;
    height: 500px;
    width: 200px;
    margin-top: 45px;
}

.dropdown-content li{
    display: block;
    height: fit-content;
    width: fit-content;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 200px; */
}



.home{
    color: #c59d5f;
}

.give{
    background-color: #c59d5f;
    height: 100%;
}

.home:hover{
    color: #fff;
    transition-duration: 500ms;
}

.mainnav{
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px 0 100px;

} 

li{
    list-style: none;
    
}

/* .give{
    background-color: #ce9f51;
    height: 88px; ? help
} */

#bigbox{
    background-image: url(https://www.carolinacrown.org//images/2021/04/19/web_banner_12.jpg);
    width: 100vw;
    height: 540px;
    background-position: center;
    background-size: cover;
    padding-top: 121px;
    padding-left: 238px;
    box-sizing: border-box;
    position: relative;
    
}

#bigbox::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1)
}

.Jewels, .mwm, .OurJourney{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.Jewels{
    color: #fff;
    background-color: #c59d5f;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    width: 302px;
    height: 79px;
    /* padding: 15px 20px 15px 20px; */
    margin-top: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    
}

.Jewels h2{
    font-size: 38px ;
    font-weight: 1; /* ? this works, why */
    letter-spacing: -2px;
    position: relative;
    bottom: 5px;
    
}
.mwm{
    color: #fff;
    font-size: 38px;
    background-color: #c59d5f;
    font-weight: 300;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    width: 413px;
    height: 79px;
    padding: 15px 20px 15px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.mwm h2{
    font-size: 38px ;
    font-weight: 1; /* ? this works, why */
    letter-spacing: -2px;
    position: relative;
    bottom: 20px;
    
}

.OurJourney {
    font-family: 'roboto';
    border-color: transparent;
    background: #fff;
    height: 41px;
    width: 220px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    border-width: 1px;
    margin-top: 40px;    
    box-sizing: border-box;
    justify-content: center;
    cursor: pointer;
}

.OurJourney:hover{
    background-color: black;
    color: white;
    border-color: black;
    transition-duration: 800ms;
}

#missionbox{
    background-color: white;
    width: 100vw;
    height: 250px;
    box-sizing: border-box;
    padding: 34px 345px 34px 350px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftbox{
    width: 585px;
    font-size: 30px;
    font-family: 'poppins';
    color: #4e5465;
    margin-left: 25px;
}

.leftbox h2{
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 20px;
}

.excel{
    color: #ce9f51;
}

.rightbox{
    width: 585px;
    font-size: 16px;
    color: black;
    font-family: 'quicksand';
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 5px;
}

.rbcontent{
    width: 565px;
    line-height: 24px;
}

.icre{
    color: #993366;
}

.hr1{
    border-top: 1px solid #73737356;
    border-left: none;
    border-bottom: none;
    width: 555px;
    margin-right: 30px
}

.mission-button{
    height: 43px;
    width: 565px;
    padding: 8px 12px 8px 12px;
    margin-top: 12px;
    border: 1px solid transparent;
    border-radius: 41px;
    background-color: #632c4f;
    color: white;
    font-size: 20px;
    font-family: 'quicksand';
    font-weight: 500;
    cursor: pointer;
    line-height: 1;

}

.mission-button:hover{
    background-color: rgba(99, 44, 79, .8);
    transition-duration: 200ms;
    
}

#quicklinks{
 color: white;
 display: flex;
 flex-direction: row;
 align-items: center;
 font-family: 'poppins';
 width: 100vw;
}

#quicklinks h4{
    font-size: 20px;
    font-weight: 600;
    position: relative;

}

#quicklinks button{
    background-color: #632c4f;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'quicksand';
    cursor: pointer;
    position: relative;
}

#quicklinks button:hover{
    background-color: #644358;
    transition-duration: 200ms;


}

.box1{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(https://www.carolinacrown.org/images/2020/06/15/supportimg.jpg) ;
    height: 300px;
    width: 25vw;
    background-size: 120%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}


.box1:hover{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://www.carolinacrown.org/images/2020/06/15/supportimg.jpg) ;
    background-size: 100%;
    background-position: center;
    transition-duration: 500ms;
}


.box2{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(https://www.carolinacrown.org/images/2020/05/06/registerphoto.jpg);
    height: 300px;
    width: 25vw;
    background-size: 120%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}

.box2:hover{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://www.carolinacrown.org/images/2020/05/06/registerphoto.jpg) ;
    background-size: 100%;
    background-position: center;
    transition-duration: 500ms;
}

.box3{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(https://www.carolinacrown.org/images/2020/06/15/eventsimg.jpg);
    height: 300px;
    width: 25vw;
    background-size: 110%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}

.box3:hover{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://www.carolinacrown.org/images/2020/06/15/eventsimg.jpg) ;
    background-size: 100%;
    background-position: center;
    transition-duration: 500ms;
}

.box4{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(https://www.carolinacrown.org/images/2020/06/15/modeled2femaletee.jpg);
    height: 300px;
    width: 25vw;
    background-size: 115%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box4:hover{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://www.carolinacrown.org/images/2020/06/15/modeled2femaletee.jpg) ;
    background-size: 95%;
    background-position: center;
    transition-duration: 500ms;
}


#latestnews{
    width: 100vw;
    height: 750px;
    background-color: white;
    
}

.headings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'poppins';
    color: #1a1d24;
    padding: 50px 180px 0;
    letter-spacing: -1px;
}

.headings h1{
    font-size: 42px;
    font-weight: 400;
}

.headings h3{
    font-size: 26px;
    font-weight:300;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 518px;

}

.newsbox a{
    text-decoration: none;
    font-family: 'poppins';
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -.02em;
    color: #1a1d24;
}

.newsbox a:hover{
    color:#ce9f51;
    transition-duration: 500ms;
}
.newsbox{
    height: 448px;
    width: 400px;
}

.boximage{
    height: 267px;
    width: 400px;
    margin-bottom: 10px;
}

.moduleItemDate{
    position: relative;
    width: 110px;
    height: 45px;
    bottom: 63px;
    left: 20px;
    color: white; 
    display: flex;
    font-size: 18px;
    font-family: 'quicksand';
    font-weight: 600;
}

.date-day{
    height: 100%;
    width: 50%;
    background-color: #ce9f51;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-month{
    height: 100%;
    width: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


